<div class="columns content has-text-centered">
<div class="column"></div>
<div class="column is-one-third">
<h1>New Calory</h1>

<%= render 'form', calory: @calory %>

<%= link_to 'Back', calories_path %>
</div>
<div class="column"></div>
</div>