<h1 class="content has-text-centered is-centered">ER Database Kalorias App</h1>

<p class="content has-text-centered is-centered">
    <%= link_to image_tag("kaloria_diagram.svg", alt: "ERD kalorias", class: "") %>
</p>