<section class="hero is-info">
    <div class="hero-body">
    <p class="title content has-text-centered">
        Welcome to Kalorias
    </p>
    <p class="subtitle content has-text-centered">
        This website is for control your intake <strong>Calorias</strong>!
    </p>
    </div>
</section>
<h1 class="content has-text-centered" >My Index</h1>
<%= line_chart [
  {name: "Workout", data: {"2021-01-01" => 3, "2021-01-02" => 4}},
  {name: "Call parents", data: {"2021-01-01" => 5, "2021-01-02" => 3}}
] %>