<section class="hero is-info">
    <div class="hero-body">
    <p class="title content has-text-centered">
        Welcome to Kalorias
    </p>
    <p class="subtitle content has-text-centered">
        This website is for control your intake <strong>Calorias</strong>!
    </p>
    </div>
</section>
<h1 class="content has-text-centered" >My Index</h1>
