
  <footer class="footer has-text-centered is-flex-align-items-flex-end mt-auto">
      <p>
        <strong>Kalorias</strong> by <a href="#">Carlos Rocha</a>. The source code is hosted in
        <a href="http://opensource.org/licenses/mit-license.php">GitHub</a>.
      </p>
  </footer>
